<!DOCTIPE html>
<html>
<head>
  <link href="{{asset('/css/style.css')}}" rel="stylesheet">
</head>
<body>
  <h1 class="Principal">Mi primer Landing Page</h1>
  <form>
    <input type="button" value="Articulo 1" onClick=" window.location.href='producto1' ">
    <input type="button" value="Articulo 2" onClick=" window.location.href='producto2' ">
  </form>
</body>
</html>
