<!DOCTIPE html>
<html>
<head>
  <link href="{{asset('/css/style.css')}}" rel="stylesheet">
</head>
<body>
  <h1>Articulo 2</h1>
  <img src="/img/alonso.jpg"/>
  <br/>
  <pre>
     El piloto asturiano de Ferrari también tiene su representación en el Museo de Cera de Madrid, aunque su figura
     llegaba cuando aún se montaba en el monoplaza de Renault. Por aquel entonces la afición española celebraba los
     títulos de Alonso y al asturiano se le veía realmente feliz en la zona de ganadores, aunque ninguna de sus
     celebraciones dio tanto miedo como la de su réplica.
     Fernando Alonso está representado con los puños en alto y con la boca abierta, al más puro estilo de los memes
     de Luis Suárez que circularon por la red tras su 'mordisco' al italiano Chiellini.
  </pre>
  <form>
    <input type="button" value="Volver al inicio" onClick=" window.location.href='/' ">
  </form>
</body>
</html>
