<!DOCTIPE html>
<html>
<head>
    <link href="{{asset('/css/style.css')}}" rel="stylesheet">
</head>
<body>
  <h1>Articulo 1</h1>
  <IMG SRC="/img/rafa.jpg">
  <br/>
  <pre>
    El mejor tenista español de todo los tiempos ha sido uno de los afortunados que ha visto
    como su antigua figura del Museo de Cera era sustituida por otra más actual. Desde este
    verano, los visitantes puede ver como Rafa Nadal ha mejorado sustancialmente, en
    comparación con su anterior réplica.
  </pre>
  <form>
    <input type="button" value="Volver al inicio" onClick=" window.location.href='/' ">
  </form>
</body>
</html>
